.layout {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #f9f9f9;
}

.main_content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 99px;
    margin-left: 0;
    left: 0;
}