.header {
  background: var(--primary-color);
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  &__container {
    max-width: 1750px;
    margin: 0 auto;
    height: 65px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    &-logo {
      height: 30px;
    }

    &-text {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100%;

    &-link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s;
        padding-inline: 20px;
        text-transform: uppercase;
        height: 100%;
        align-content: center;
        font-weight: bold;
    }
    
    &--desktop &-link {
        &:hover {
            // background-color: #39d353;
            background-color: var(--secondary-color);
            color: black;
        }
        
        &--active {
            position: relative;
            color: var(--secondary-color);
            
            &:after {
                content: "";
                position: absolute;
                left: 10%;
                top: calc(50% + 12px);
                width: 80%;
                height: 2px;
                background: var(--secondary-color);
            }
        }        
    }
    &--mobile &-link {
        &--active {
            position: relative;
            color: var(--secondary-color);
            
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 5px;
              height: 5px;
              border-radius: 5px;
              background: var(--secondary-color);
            }
        }   
    }
    
    &--mobile {
        flex-direction: column;
        gap: 15px;
        width: 200px;
        height: 200px;
        margin-right: auto;
        margin-left: 10%;
        text-align: left;
    }

  }

  &__menu-cont {
    background: rgba(50, 50, 50, 0.5);
    height: 50px;
    width: 50px;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    
    &-btn {
        position: relative;
        width: fit-content;
        height: fit-content;
        background: rgba(50, 50, 50, 0.5);
    }
  }

}

@media (max-width: 768px) {
  .header__nav--desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .header__menu-btn {
    display: none;
  }
}
